{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}
{% form_theme form 'tailwind_2_layout.html.twig' %}
{% block body %}
    <h1>Create new User</h1>

{{ form_start(form) }}
				<fieldset class="mb-4">
					<legend>Mon identité</legend>
					{{ form_row(form.nom) }}

{{ form_row(form.password) }}
					{{ form_row(form.prenom) }}
					{{ form_row(form.email) }}
                    {{ form_row(form.idformation) }}
   
		
				</fieldset>

				                <button class="btn">{{ button_label|default('Save') }}</button>
			    
				{{ form_end(form) }}



    <a href="{{ path('app_profil_index') }}">back to list</a>
{% endblock %}
