{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <form method="get" action="{{ path('app_search') }}">
  <label for="searchTerm">Search:</label>
  <input type="text" id="searchTerm" name="q">
  <button type="submit">Search</button>
</form>

     {% for user in users %}
  
            <li>{{ user.nom }}</li>
            <li>{{ user.prenom }}</li>
            <li>{{ user.ville }}</li>
        {% endfor %}
  <form method="get" action="{{ path('app_search') }}">
 {% if users %}   

    <button type="submit">Search</button>
</form>

     
    <ul>
       
    </ul>
{% else %}
    <p>No results found.</p>
{% endif %}
{% endblock %}

