{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}


<div class="example-wrapper">
   <div class="container mx-auto px-4 py-8">
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <img class="w-full" src="lapin.jpg" alt="User photo">
    <div class="px-6 py-4">
       
      <div class="font-bold text-xl mb-2">{{ user.email }} <br>{{ user.prenom }}</div>
      <p class="text-gray-700 text-base">
        <tbody>
       
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.idformation.cursus }}</td>
                <td>
                   
                </td>
            </tr>
  
        
        </tbody>
      </p>
    </div>
  </div>
</div>

    <div class="row">
        <div class="col-md-6">
            <h2>Vos informations</h2>
            <p>Nom : {{ user.nom }}</p>
            <p>Prénom : {{ user.prenom }}</p>
            <p>Email : {{ user.email }}</p>
        </div>
        <div class="col-md-6">
            <h2>Modifier vos informations</h2>
            {{ form_start(form) }}
                {{ form_row(form.user) }}
                {{ form_row(form.formation) }}
                {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>
    This friendly message is coming from:
    <ul>
         
        
    </ul>
</div>
{% endblock %}
