{% extends 'base.html.twig' %}

{% block title %}Profil index{% endblock %}

{% block body %}
    {% for user in users %}
        <div class="max-w-xs mb-8">
            <div class="bg-white shadow-xl rounded-lg py-3">
                <div class="photo-wrapper p-2">
                    <img src="{{ asset('photo/' ~ user.photo) }}"/>
                </div>
                <div class="p-2">
                    <h3 class="text-center text-xl text-gray-900 font-medium leading-8">{{ user.nom }} {{ user.prenom }}</h3>
                    <div class="text-center text-gray-400 text-xs font-semibold"></div>
                    <table class="text-xs my-3">
                        <tbody>
                            <tr>
                                <td class="px-2 py-2 text-gray-500 font-semibold">Adresse</td>
                                <td class="px-2 py-2 truncate">{{ user.adresse }}</td>
                            </tr>
                            <tr>
                                <td class="px-2 py-2 text-gray-500 font-semibold">Email</td>
                                <td class="px-2 py-2 truncate">{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td class="px-2 py-2 text-gray-500 font-semibold">Description</td>
                                <td class="px-2 py-2 truncate">{{ user.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    {% else %}
        <p class="text-center">Aucun utilisateur trouvé.</p>
    {% endfor %}
              
    <a href="{{ path('app_profil_new') }}" class="block mt-6 text-blue-500 hover:text-blue-800">Créer un nouveau profil</a>
{% endblock %}
